Activity 2.6 -- Working with COVID 19 and World Bank Data
=========================================================

In this activity, you will explore relationships between various World
Bank indicators for countries and their corresponding COVID death rates.
First you need to download data on COVID-19 (see links and instructions
below) and the selected indicators from the Open World Bank data
available at <https://data.worldbank.org>.

**COVID data set source:** <https://coviddata.github.io/coviddata/#csvs>

**Tasks.** Use pandas and dfply to perform each of the following.

1.  Download the raw **time\_series\_covid19\_confirmed\_global.csv**
    dataset.

2.  Inspect the data and discuss the need to reshape.

In [1]:
import pandas as pd
from dfply import *

In [2]:
# Code for loading and inspecting the CSV file
cvd_glb = pd.read_csv('./data/time_series_covid19_confirmed_global.csv')
cvd_glb.head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/3/22,9/4/22,9/5/22,9/6/22,9/7/22,9/8/22,9/9/22,9/10/22,9/11/22,9/12/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,193912,194163,194355,194614,195012,195298,195471,195631,195925,196182
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,330062,330193,330221,330283,330516,330687,330842,330948,331036,331053
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,270426,270443,270461,270476,270489,270507,270522,270532,270539,270551
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,46027,46027,46027,46027,46113,46113,46113,46113,46113,46113
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,102636,102636,102636,102636,102636,102636,103131,103131,103131,103131
5,NaN,Antarctica,-71.94990,23.347000,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,11,11
6,NaN,Antigua and Barbuda,17.06080,-61.796400,0,0,0,0,0,0,...,8974,8974,8974,8974,8974,8974,8974,8974,8974,8974
7,NaN,Argentina,-38.41610,-63.616700,0,0,0,0,0,0,...,9678225,9689861,9689861,9689861,9689861,9689861,9689861,9689861,9697763,9697763
8,NaN,Armenia,40.06910,45.038200,0,0,0,0,0,0,...,434398,434398,436727,436727,436727,436727,436727,436727,436727,439302
9,Australian Capital Territory,Australia,-35.47350,149.012400,0,0,0,0,0,0,...,203199,203320,203476,203613,203786,203786,203680,203680,203680,203680

> **Your discussion:** The days cannot all be columns, it is not clear that it is cumulative

3.  Write a single pipe that reshapes the data, sets the dtype of the date column, and extracts various date parts.
    1. To change the `dtype` of the date column, `date = X.date.astype('datetime64')`
    2. To extract the year and month, use the `X.date.dt.year` and `X.date.dt.month` attributes. This will need to happen in a separate `mutate`

In [3]:
# your code here
dates = (cvd_glb 
        >>gather('date','total_deaths',columns_from('1/22/20'))
        >>mutate(date = X.date.astype('datetime64'))
        >>mutate(year = X.date.dt.year,month = X.date.dt.month)
        )
dates.head()

,Province/State,Country/Region,Lat,Long,date,total_deaths,year,month
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,2020,1
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,2020,1
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,2020,1
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,2020,1
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,2020,1

### World Bank Links Development Indicators

<https://databank.worldbank.org/source/world-development-indicators>

#### Constructing a data set.

First you need to construct a data set as follows

1.  Expand the Country tab and select all.

<img src="./img/media/image1.png" width="300">

2.  Click on the Series tab, search for *Health* and select the
    following indicators. **Feel free to add additional indicators!**

<img src="img/media/image2.png" width="300">

3.  Click on the Time tab and select 2020 and 2021.

4.  Click apply changes in the floating dialog.

<img src="img/media/image3.png" width="300">

5.  Select CSV from the Download Options button and save the data folder

<img src="img/media/image4.png" width="100">

#### Tasks

Use pandas and dfply to perform each of the following.

1.  Inspect the World Bank data and discuss the need to reshape. 

**Hints:** 

* You should apply `fix_names` from `more_dfply` to clean up the column names.
* This table needs to be reshaped twice

In [4]:
# Code for loading and inspecting the CSV
from more_dfply import fix_names
dvlp_countries = pd.read_csv('./data/develop_countries.csv') >> fix_names
dvlp_countries.head()

,Country_Name,Country_Code,Series_Name,Series_Code,_2018_YR2018,_2019_YR2019
0,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,14.12674332,13.24220181
1,Afghanistan,AFG,Domestic general government health expenditure...,SH.XPD.GHED.GD.ZS,0.54922014,1.08443093
2,Afghanistan,AFG,Domestic general government health expenditure...,SH.XPD.GHED.PC.CD,2.72140895,5.38899046
3,Afghanistan,AFG,Domestic private health expenditure (% of curr...,SH.XPD.PVTD.CH.ZS,76.319664,79.39915466
4,Afghanistan,AFG,Domestic private health expenditure per capita...,SH.XPD.PVTD.PC.CD,53.42270666,52.24943995

> **Your discussion:** the years should be part of the rows and the series names should be columns

2.  Write a single pipe that reshapes the data, sets the dtype of the date column, and extracts various date parts.
    1. You can use the `replace` method to clean up the year column.  See lecture 3.1 for details.

In [5]:
dvlp_reshape = (dvlp_countries
            >>select(~X.Series_Code)
            >>gather('yr','numbers',columns_from('_2018_YR2018'),add_id = True)
            >>filter_by(X._ID <1330) #gets rid of NAN column
            >>select(~X._ID)
            >>spread(X.Series_Name,X.numbers)
            >>mutate(yr = X.yr.str.replace('_2018_YR2018','2018'))
            >>mutate(yr = X.yr.str.replace('_2019_YR2019','2019'))
            >>mutate(yr = X.yr.astype('datetime64'))
            >>mutate(yr = X.yr.dt.year)
            )
dvlp_reshape

,Country_Name,Country_Code,yr,Current health expenditure (% of GDP),Domestic general government health expenditure (% of GDP),Domestic general government health expenditure per capita (current US$),Domestic private health expenditure (% of current health expenditure),Domestic private health expenditure per capita (current US$)
0,Afghanistan,AFG,2018,14.12674332,0.54922014,2.72140895,76.319664,53.42270666
1,Afghanistan,AFG,2019,13.24220181,1.08443093,5.38899046,79.39915466,52.24943995
2,Africa Eastern and Southern,AFE,2018,6.28682941150035,3.01138620120092,45.00322636148,40.2746316114941,38.7747764079056
3,Africa Eastern and Southern,AFE,2019,6.26638563294957,3.04368546715315,43.8300388099369,39.7848380711114,36.5804196112588
4,Africa Western and Central,AFW,2018,3.39316031669726,0.74466519924604,12.909945972337,67.0338193214843,39.7703675274289
...,...,...,...,...,...,...,...,...
527,"Yemen, Rep.",YEM,2019,..,..,..,..,..
528,Zambia,ZMB,2018,5.03271484,1.96286535,29.76423856,16.62527084,12.68747921
529,Zambia,ZMB,2019,5.31220293,2.12920475,27.78617575,16.21423721,11.24041905
530,Zimbabwe,ZWE,2018,8.68006228,2.78293462,45.32473722,42.76859662,60.46166901
531,Zimbabwe,ZWE,2019,7.70356494,1.35826993,18.16564219,52.81442505,54.41378962

### Investigate joining on country

Before we can proceed, we need to make sure that the columns used to join the data--namely the country--actually match.  Do this by

1. For each table, select just the country columns and make sure the column names match.
2. Perform a full outer join and filter on rows that didn't match (i.e. with a missing value in either column).
3. Determine any transformations needed to make the entries match.
4. Transform each of the original table as need (column names and/or problematic entries.

In [6]:

dates3 = (dates >>rename(Country_Name = 'Country/Region')
          )
namechanges1 = (dates3
  >>mutate(Country_Name = X.Country_Name.str.replace('Bahamas, The','Bahamas'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Brunei Darussalam','Brunei'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Burma','Myanmar'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Congo, Rep.','Rep_Congo'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Congo (Brazzaville)','Rep_Congo'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Congo (Kinshasa)','DemRep_Congo'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Congo, Dem Rep.','DemRep_Congo'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Czechia','Czech_Republic'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Egypt, Arab Rep.','Egypt'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Gambia, The','Gambia'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Iran, Islamic Rep.','Iran'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Korea, North','North_Korea'))
  >>mutate(Country_Name = X.Country_Name.str.replace("Korea, Dem. People's Rep.","North_Korea"))
  >>mutate(Country_Name = X.Country_Name.str.replace('Korea, Rep.','South_Korea'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Korea, South','South_Korea'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Kyrgyz Republic','Kyrgyzstan'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Lao PDR','Laos'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Czech Republic','Czech_Republic'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Micronesia, Fed. Sts.','Micronesia'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Russian Federation','Russia'))
  >>mutate(Country_Name = X.Country_Name.str.replace('St. Lucia','St_Lucia'))
  >>mutate(Country_Name = X.Country_Name.str.replace('St. Kitts and Nevis','StKitts_Nevis'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Saint Kitts and Nevis','StKitts_Nevis'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Saint Lucia','St_Lucia'))
  >>mutate(Country_Name = X.Country_Name.str.replace('St. Vincent and the Grenadines','StVincent_Grenadines'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Saint Vincent and the Grenadines','StVincent_Grenadines'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Slovak Republic','Slovakia'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Syrian Arab Republic','Syria'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Turkiye','Turkey'))
  >>mutate(Country_Name = X.Country_Name.str.replace('United States','US'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Venezuela, RB','Venezuela'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Yemen, Rep.','Yemen'))
)

final_cvd = (namechanges1
          >>mutate(Country2 = X.Country_Name)
)
final_cvd

/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),

,Province/State,Country_Name,Lat,Long,date,total_deaths,year,month,Country2
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,2020,1,Afghanistan
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,2020,1,Albania
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,2020,1,Algeria
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,2020,1,Andorra
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,2020,1,Angola
...,...,...,...,...,...,...,...,...,...
275020,NaN,West Bank and Gaza,31.952200,35.233200,2022-09-12,702591,2022,9,West Bank and Gaza
275021,NaN,Winter Olympics 2022,39.904200,116.407400,2022-09-12,535,2022,9,Winter Olympics 2022
275022,NaN,Yemen,15.552727,48.516388,2022-09-12,11932,2022,9,Yemen
275023,NaN,Zambia,-13.133897,27.849332,2022-09-12,333234,2022,9,Zambia
275024,NaN,Zimbabwe,-19.015438,29.154857,2022-09-12,256888,2022,9,Zimbabwe

In [7]:

namechanges2 = (dvlp_reshape
  >>mutate(Country_Name = X.Country_Name.str.replace('Bahamas, The','Bahamas'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Brunei Darussalam','Brunei'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Burma','Myanmar'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Congo, Rep.','Rep_Congo'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Congo (Brazzaville)','Rep_Congo'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Congo (Kinshasa)','DemRep_Congo'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Congo, Dem Rep.','DemRep_Congo'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Czechia','Czech_Republic'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Egypt, Arab Rep.','Egypt'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Gambia, The','Gambia'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Iran, Islamic Rep.','Iran'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Korea, North','North_Korea'))
  >>mutate(Country_Name = X.Country_Name.str.replace("Korea, Dem. People's Rep.","North_Korea"))
  >>mutate(Country_Name = X.Country_Name.str.replace('Korea, Rep.','South_Korea'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Korea, South','South_Korea'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Kyrgyz Republic','Kyrgyzstan'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Lao PDR','Laos'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Czech Republic','Czech_Republic'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Micronesia, Fed. Sts.','Micronesia'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Russian Federation','Russia'))
  >>mutate(Country_Name = X.Country_Name.str.replace('St. Lucia','St_Lucia'))
  >>mutate(Country_Name = X.Country_Name.str.replace('St. Kitts and Nevis','StKitts_Nevis'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Saint Kitts and Nevis','StKitts_Nevis'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Saint Lucia','St_Lucia'))
  >>mutate(Country_Name = X.Country_Name.str.replace('St. Vincent and the Grenadines','StVincent_Grenadines'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Saint Vincent and the Grenadines','StVincent_Grenadines'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Slovak Republic','Slovakia'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Syrian Arab Republic','Syria'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Turkiye','Turkey'))
  >>mutate(Country_Name = X.Country_Name.str.replace('United States','US'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Venezuela, RB','Venezuela'))
  >>mutate(Country_Name = X.Country_Name.str.replace('Yemen, Rep.','Yemen'))
)
final_byCountry = (namechanges2
         >>mutate(Country3 = X.Country_Name)
          )

/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),
/home/kquack/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/dfply/base.py:81: FutureWarning: The default value of regex will change from True to False in a future version.
  return Intention(lambda x: self.function(x)(*_context_args(args)(x),

In [8]:
final_joined = (final_cvd
         >>outer_join(final_byCountry,by='Country_Name')
         >>filter_by(~X.Country2.isna())
         >>filter_by(~X.Country3.isna())
         >>select(~X.Country2,~X.Country3)
          )
final_joined

,Province/State,Country_Name,Lat,Long,date,total_deaths,year,month,Country_Code,yr,Current health expenditure (% of GDP),Domestic general government health expenditure (% of GDP),Domestic general government health expenditure per capita (current US$),Domestic private health expenditure (% of current health expenditure),Domestic private health expenditure per capita (current US$)
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0.0,2020.0,1.0,AFG,2018.0,14.12674332,0.54922014,2.72140895,76.319664,53.42270666
1,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0.0,2020.0,1.0,AFG,2019.0,13.24220181,1.08443093,5.38899046,79.39915466,52.24943995
2,NaN,Afghanistan,33.939110,67.709953,2020-01-23,0.0,2020.0,1.0,AFG,2018.0,14.12674332,0.54922014,2.72140895,76.319664,53.42270666
3,NaN,Afghanistan,33.939110,67.709953,2020-01-23,0.0,2020.0,1.0,AFG,2019.0,13.24220181,1.08443093,5.38899046,79.39915466,52.24943995
4,NaN,Afghanistan,33.939110,67.709953,2020-01-24,0.0,2020.0,1.0,AFG,2018.0,14.12674332,0.54922014,2.72140895,76.319664,53.42270666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541360,NaN,Zimbabwe,-19.015438,29.154857,2022-09-10,256870.0,2022.0,9.0,ZWE,2019.0,7.70356494,1.35826993,18.16564219,52.81442505,54.41378962
541361,NaN,Zimbabwe,-19.015438,29.154857,2022-09-11,256870.0,2022.0,9.0,ZWE,2018.0,8.68006228,2.78293462,45.32473722,42.76859662,60.46166901
541362,NaN,Zimbabwe,-19.015438,29.154857,2022-09-11,256870.0,2022.0,9.0,ZWE,2019.0,7.70356494,1.35826993,18.16564219,52.81442505,54.41378962
541363,NaN,Zimbabwe,-19.015438,29.154857,2022-09-12,256888.0,2022.0,9.0,ZWE,2018.0,8.68006228,2.78293462,45.32473722,42.76859662,60.46166901
541364,NaN,Zimbabwe,-19.015438,29.154857,2022-09-12,256888.0,2022.0,9.0,ZWE,2019.0,7.70356494,1.35826993,18.16564219,52.81442505,54.41378962

## Join and visualize 

Finally, you should use pandas and dfply to join these two data sets together, then create some interesting visualization using seaborn.

In [6]:
# Your code here

### Deliverables
To complete this part of the activity, you need to submit the following.

1.  A link to this notebook including all discussion and code requests
    above.

2.  A csv file containing your final dataset. **Hint.** You can use the
    to\_csv method on the final data frame.

In [11]:
final_joined.to_csv('./data/final_joined.csv')